:host {
    app-select-month {
        margin-top: 1rem;
    }
    main {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        .wraper {
            margin-top: 0.5rem;
            width: 70%;
            height: 100%;
        }
    }
    
}