<div class="container">
  <mat-toolbar color="primary">
    <span>Organaizer</span>
  </mat-toolbar>
  <div>
    <app-select-month></app-select-month>
  </div>
  <main>
    <div class="wraper">
      <app-calendar></app-calendar>
    </div>
  </main>
  <div class="organaizer-wraper">
    <div class="wraper">
      <app-organaizer (btnClick)="toggleForm($event)"></app-organaizer>
    </div>
  </div>
</div>

<div class="task-form-wraper"  *ngIf="formStatus">
  <app-task-form (btnClick)="toggleForm($event)"></app-task-form>
</div>
<div class="darken"  *ngIf="formStatus"></div>

