<mat-card class="wraper">
    <mat-card-title>Tasks for {{date.value.format('DD-MM-YYYY')}}</mat-card-title>
    <div cdkDropListGroup class="container">
        <mat-card class="to-do"
            cdkDropList
            [cdkDropListData]="toDo"
            (cdkDropListDropped)="drop($event)">
            <mat-card class="task" cdkDrag *ngFor="let item of toDo">
                <p *ngIf="!editable; else edit">{{item.title}}</p>
                <ng-template #edit>
                    <form [formGroup]="editForm" (ngSubmit)="submit()">
                        <mat-form-field class="example-form-field" appearance="fill" >
                            <mat-label>Task</mat-label>
                            <input matInput type="text" formControlName="title">
                        </mat-form-field>
                    </form>
                </ng-template>
                <div class="buttons">
                    <button mat-icon-button>
                        <mat-icon color="accent" (click)="editTask(item)">edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon color="warn" (click)="removeTask(item)">delete</mat-icon>
                    </button>
                </div>
            </mat-card>
        </mat-card>

        <mat-card class="done"
            cdkDropList
            [cdkDropListData]="done"
            (cdkDropListDropped)="drop($event)">
            <mat-card cdkDrag *ngFor="let item of done">
                {{item.title}}
            </mat-card>
        </mat-card>
    </div>
    <button mat-raised-button color="accent" (click)="addTask()">Add task</button>
    
</mat-card>