<mat-card class="main-wraper">
    <mat-card class="days-def">
        <mat-card>Sun</mat-card>
        <mat-card>Mon</mat-card>
        <mat-card>Tue</mat-card>
        <mat-card>Wen</mat-card>
        <mat-card>Thu</mat-card>
        <mat-card>Fri</mat-card>
        <mat-card>Sat</mat-card>
    </mat-card>
    <mat-card class="wraper">
        <div class="week" *ngFor="let week of calendar">
            <mat-card class="day" *ngFor="let day of week.days" [class.disabled]="day.disabled" (click)="select(day.value)" [class.selected]="day.selected"> 
                <span [class.active]="day.active">
                    {{day.value.format('ddd DD')}}
                </span>
            </mat-card>
        </div>
    </mat-card>
</mat-card>
